# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Rust
engine/target/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks
android/app/debug
android/app/profile
android/app/release

# Windows
windows/flutter/ephemeral/

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart

# Temp
.temp/
